* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-bg: #fff;
    --main-bg: rgba(26, 26, 26, 0.233);
    --modal-bg: rgba(43, 43, 43, 0.562);
}

header {
    background-color: var(--header-bg);
}

body {
    min-height: 100vh;
    background-color: var(--main-bg);
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.container {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
}

.padv-2 {
    padding: 2rem 0;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booklist {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.book {
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    word-wrap: break-word;
}

.book-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--modal-bg);
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.new-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.hide {
    display: none;
}