* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-bg: #153462;
    --main-bg: #BAD1C2;
    --modal-bg: rgba(43, 43, 43, 0.562);
    --book-bg: #F6F6C9;
    --read-bg: rgb(73, 238, 114);
    --not-read-bg: rgb(230, 82, 82);
    --light-btn-bg: #BAD1C2;
    --light-font: #fff;

    --bradius-s: 4px;
    --bradius-circle: 50%;

    --main-font: 'Inter', sans-serif;
}

header {
    background-color: var(--header-bg);
    color: var(--light-font);
}

body {
    min-height: 100vh;
    background-color: var(--main-bg);
    font-family: var(--main-font);
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.2rem;
}

button {
   cursor: pointer;
   padding: .5rem 1rem;
   border-radius: var(--bradius-s);
   border: none;
   font-size: 1.1rem;
   transition: filter 200ms;
   background-color: var(--light-btn-bg);
}

button:hover {
    transition: filter 200ms;
    filter: brightness(.95);
}

button:active {
    transform: scale(.99);
}

ul {
    list-style-type: none;
}

input {
    display: inline;
    padding: .5rem;
}

label {
    display: inline;
    font-weight: bold;
}

.container {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
}

.padv-2 {
    padding: 2rem 0;
}


.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booklist {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

.book {
    text-align: center;
    background-color: var(--book-bg);
    border-radius: var(--bradius-s);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    word-wrap: break-word;
    gap: 1rem;
    padding: 1rem;
}

.book button {
    width: 100%;
}

.author {
    font-style: italic;
}

.book-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--modal-bg);
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.book-form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--book-bg);
    padding: 1.5rem;
    border-radius: var(--bradius-s);
    position: relative;
}

[data-wasread="0"] {
    background-color: var(--not-read-bg);
}

[data-wasread="1"] {
    background-color: var(--read-bg);
}

.new-btn {
    font-size: 1.8rem;
    width: fit-content;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: var(--bradius-circle);
    padding: .2em .5em;
    background-color: var(--header-bg);
    color: var(--light-font);
    transition: transform 500ms;
}

.close-form-btn {
    width: fit-content;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    font-size: 18px;
    color: var(--not-read-bg);
    transition: transform 500ms;
    transform-origin: center;
}

.new-btn:hover,
.close-form-btn:hover {
    transform: scale(1.2);
    transition: transform 500ms;
}

.hide {
    display: none;
}